
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
header{
    background-color:rgba(255, 144, 14, 0.1) ;
    height:1322px ;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width:1440px ;
    margin: 0 auto;
    align-items: center;
    margin-top: 63px;
}
.brand{
    max-width: 302px;
    height: 53px;
    font-weight: bold;
    font-size:2.8rem;
    color:rgba(19, 19, 19, 1) ;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
    color:rgba(66, 66, 66, 1) ;
    font-weight: medium;
    font-size: 18px;
}
.banner{
    max-width:1440px ;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    margin: 0 auto;
    max-width: 862px;
    margin-top:100px;
    margin-bottom:100px;
}
.banner-tittle{
   font-weight:bold;
   font-size:3.8rem;
   color:rgba(19, 19, 19, 1) ;
   margin: 0 auto;
}
.banner-description{
   
    font-size:1rem;
    color:rgba(114, 114, 114, 1) ;
}
.banner-button{
    font-size:600px;
    font-size: 1.25rem;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 8px;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(255, 144, 14, 1);
    margin-top: 20px;
     
}
.banner-image{
    width:100%;
    height: 700px;
    border-radius: 8px;
}
.teams{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    
}

   

.features{
     max-width:537px ;
    max-height: 304px;

    margin-left: 73px;
}
.feature-tittle{
    font-weight: Mixed;
    font-size: 2.8rem;
}
#quick{
color:#727272;
}
#our{
color:rgba(0, 0, 0, 1);
font-weight: bold;
}
#feature{
color: rgba(255, 144, 14, 1);
font-weight: bold;
}
.feature-description{

    font-size:1rem;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section-2{
    max-width: 1440px;
    margin:auto;
}
.features-2{
    display: flex;
    gap:146px;

}
.features-2-items-title{
    max-width: 464px;
    font-weight: bold;
    font-size: 2.8rem;
    color:rgba(19, 19, 19, 1);
    border-left:5px solid rgba(255, 144, 14, 1) ;
    padding-left:21px;

}
.features-2-items p{
    max-width: 586px;
    margin-top: 24px;
    margin-bottom: 30px;
  color: rgba(114, 114, 114, 1);
}
.features-2-card{
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:30px 42px 30px 30px;
    margin-bottom: 20px;

}
.features-2-card h3{
    max-width:253px;
    max-height: 23px;
    font-weight:600px;
    font-size:1.25rem;
    color:rgba(19, 19, 19, 1);
}
.features-2-card p{
    max-width: 514px;
    color: rgba(114, 114, 114, 1);
}
.features-2-img img{
    display: block;
}
.img-bottom{
    background-color:rgba(255, 144, 14, 1) ;
    max-width: 342px;
    text-align: center;
    border-radius: 8px;
    padding:46px 42Px;
    position: relative;
    top:-123px;
    left:-92px;
}
.year{
    font-weight: bold;
    font-size: 4rem;
    color: rgba(255, 255, 255, 1);
}
.ex{
    font-weight: medium;
    font-size: 1.56rem;
    color: rgba(255, 255, 255, 1);
}

.facts{
    max-width: 1440px;
    margin: 0 auto;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items:center;
}
.facts-card{
    border:1px solid rgba(255, 144, 14, 1) ;
    width: 242px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.facts-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: rgba(19, 19, 19, 1);
}
.facts-description{
   max-width:542px;
   color:rgba(114, 114, 114, 1) ;
   margin-top: 24px;
   margin-bottom: 100px;
}
.facts-image{
    width: 45px;
}
.facts-number{
    font-weight: 600px;
    font-size: 2.8rem;
    color:rgba(66, 66, 66, 1) ;
}
.facts-name{
    font-weight: 600px;
    font-size:1.25rem;
    color:rgba(114, 114, 114, 1);
}
.sponsors{
    max-width: 1440px;
    margin:120px auto ;
}
.our-sponsors{
    margin: 0 auto;
    text-align: center;
    max-width: 542px;
}
.sponsors-title{
    font-weight: bold;
    font-size: 2.8rem;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 28px;
    
}
.sponsors-description{
    color: rgba(114, 114, 114, 1);
    font-size:1rem;
    
}
.sponsors-container{
    margin-top: 50px;
    display: flex;
    justify-content:space-between ;
    filter:grayscale(100%);
}













@media  screen and (min-width:576px) and (max-width:992px){
    
    .teams{
        flex-direction: column;
        margin-bottom: 80px;
    }
    
    .facts-card{
        max-width: 200px;
        max-height: 200px;
    }
    .facts{
        margin-top: 80px;
    }
    .facts-description{
    margin-bottom: 60px;
}

    .navbar{
        margin-top: 0;
    }
    .features{
margin:50px auto;
}
.features-2{
    flex-direction: column;
    gap:20px;
}
.features-2-img img{
    width: 100%;
}
.img-bottom{
    top:0;
    left:0;
}
.sponsors-container{
    
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:40px;
    justify-items: center;
    
}

}




@media  screen and (max-width:576px) {
    .navbar{
        margin-top:0px ;
    }
    .navbar,
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-image-container{
grid-template-columns: repeat(1,1fr);
margin-top:130px;
}
.facts-card-container{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    
}
.facts{
    margin-top: 80px;
}
.facts-description{
    margin-bottom: 50px;
}
.features{
margin:20px auto;
}
.features-2{
    flex-direction: column;
    gap:20px;
}
.features-2-img img{
    width: 100%;
}
.img-bottom{
    top:0;
    left:0;
}
.sponsors-container{
    
    display: grid;
    grid-template-columns: 1fr;
    gap:40px;
    justify-items: center;
}

}
