
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 400;
  font-style: normal;
}
header{
    background-color:rgba(255, 144, 14, 0.1) ;
    height:1322px ;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width:1440px ;
    margin: 0 auto;
    align-items: center;
    margin-top: 63px;
}
.brand{
    width: 302px;
    height: 53px;
    font-weight: bold;
    font-size:2.8rem;
    color:rgba(19, 19, 19, 1) ;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 30px;
    color:rgba(66, 66, 66, 1) ;
    font-weight: medium;
    font-size: 18px;
}
.banner{
    max-width:1440px ;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    margin: 0 auto;
    max-width: 862px;
    margin-top:100px;
    margin-bottom:100px;
}
.banner-tittle{
   font-weight:bold;
   font-size:3.8rem;
   color:rgba(19, 19, 19, 1) ;
   margin: 0 auto;
}
.banner-description{
   
    font-size:1rem;
    color:rgba(114, 114, 114, 1) ;
}
.banner-button{
    font-size:600px;
    font-size: 1.25rem;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 8px;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(255, 144, 14, 1);
    margin-top: 20px;
     
}
.banner-image{
    width:100%;
    height: 700px;
    border-radius: 8px;
}
.teams{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    
}

   

.features{
     max-width:537px ;
    max-height: 304px;

    margin-left: 73px;
}
.feature-tittle{
    font-weight: Mixed;
    font-size: 2.8rem;
}
#quick{
color:#727272;
}
#our{
color:rgba(0, 0, 0, 1);
font-weight: bold;
}
#feature{
color: rgba(255, 144, 14, 1);
font-weight: bold;
}
.feature-description{

    font-size:1rem;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 10px;
}






@media  screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}